.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  box-sizing: border-box;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.game1 {
  background-color: rgba(255, 20, 147, 0.1);
}

.game2 {
  background-color: rgba(0, 191, 255, 0.1);
}

.field {
  display: flex;
}

.nowTurn {
  box-sizing: border-box;
  padding: 20px;
}

.nowTurn1 {
  border-top: 10px solid deeppink;
  border-bottom: 10px solid deeppink;
  color: deeppink;
}

.nowTurn2 {
  border-top: 10px solid deepskyblue;
  border-bottom: 10px solid deepskyblue;
  color: deepskyblue;
}

.card {
  box-sizing: border-box;
  width: 100px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
  margin-right: 10px;
}

.card1 {
  background-color: deeppink;
  border: 10px solid deeppink;
}

.card2 {
  background-color: deepskyblue;
  border: 10px solid deepskyblue;
}

.selected-card1 {
  border: 10px solid deepskyblue;
}

.selected-card2 {
  border: 10px solid deeppink;
}

.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
}

.container-reverse {
  flex-direction: row-reverse;
}
